body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #555;
    padding: 10px;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

nav a:hover {
    background-color: #ffffff;
    color:black;
}

.container{
    margin: 20px;
}
.container h2 {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

form {
    margin: 20px;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    /* width: 100%; */
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
/* Updated styles for checkbox and label */

.checkbox label[for="subscribe"]{
    display: inline;
    margin-bottom: 18px;
}
.checkbox input[type="checkbox"]{
    display: inline;
    margin-bottom: 18px;
}



button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

ul {
    margin: 20px;
}

ul li {
    margin-bottom: 10px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: 20px;

}

.image-container img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}

.image-container label {
    display: block;
    margin-top: 10px;
    text-align: center;
}


.my-img{
    width: 200px;
}


.links ul {
    list-style-type: none;
    padding: 0;
}

.links ul li {
    margin-bottom: 10px;
}

.links a {
    text-decoration: none;
    color: #333;
    display: inline-block;
    padding: 8px 12px;
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.links a:hover {
    background-color: #555;
    color: white;
}
